<div class="h-16 w-16 bg-yellow-700">I</div>
<div class="bg-gray-800 overflow-auto" style="height: calc(100vh - 129px);">
<ul>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
    <li>L</li>
</ul>
</div>
<div class="h-16 w-16 bg-yellow-700">L</div>