<div class="w-64">
    <div class="px-3 py-5 bg-blue-800 text-gray-300 sticky top-0"> App Name</div>
    <div class="bg-gray-200 overflow-auto" style="height: calc(100vh - 64px);">
        <ul>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
            <li>Dash</li>
        </ul>
    </div>
</div>