<div class="px-3 py-5 bg-gray-800 text-gray-300 sticky top-0"> Header</div>
<div class="bg-white px-3 py-5 overflow-auto" style="height: calc(100vh - 64px);">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod ex voluptate eaque magnam cum eum sapiente
        praesentium optio corrupti, vitae necessitatibus ea enim rerum ipsam sint pariatur sunt libero! Laudantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde explicabo dolorem odit magni vel vero adipisci
        repellendus, reiciendis velit, doloremque dolore, voluptate accusamus quis soluta consequuntur non quaerat hic
        possimus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum rem accusamus? Nostrum ipsa quam,
        voluptate dicta rerum, repellendus optio odio aspernatur laudantium dolore id veritatis minima veniam nobis
        eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error voluptatum repellat iure aspernatur
        recusandae aliquam consequuntur numquam tenetur eveniet, sapiente nostrum deserunt harum exercitationem, debitis
        nesciunt libero eligendi. Architecto.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus eum eveniet quos officiis provident
        sit rem accusantium, laborum est beatae consequuntur natus quae illo ipsa vel cupiditate quasi labore?</p>
    <hr>

</div>